atomicwrites==1.2.1
attrs==18.2.0
bitalino==1.2.1
future==0.16.0
iso8601==0.1.12
mocker==1.1.1
more-itertools==4.3.0
numpy==1.15.2
pluggy==0.7.1
py==1.6.0
PyBluez==0.22
pylsl==1.12.2
pytest==3.7.4
pytest-mock==1.10.0
PyYAML==3.13
serial==0.0.69
six==1.11.0
