alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
bitalino==1.2.1
certifi==2018.8.24
chardet==3.0.4
docutils==0.14
future==0.16.0
idna==2.7
imagesize==1.1.0
iso8601==0.1.12
Jinja2==2.10
MarkupSafe==1.0
mocker==1.1.1
more-itertools==4.3.0
numpy==1.15.2
packaging==18.0
pluggy==0.7.1
py==1.6.0
PyBluez==0.22
Pygments==2.2.0
pylsl==1.12.2
pyparsing==2.2.2
pytest==3.7.4
pytest-mock==1.10.0
pytz==2018.5
PyYAML==3.13
requests==2.19.1
serial==0.0.69
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
urllib3==1.23
