alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
bitalino==1.2.1
bleach==3.0.0
certifi==2022.12.7
cffi==1.11.5
chardet==3.0.4
cmarkgfm==0.4.2
docutils==0.14
future==0.16.0
idna==2.7
imagesize==1.1.0
iso8601==0.1.12
Jinja2==2.10
MarkupSafe==1.0
mocker==1.1.1
more-itertools==4.3.0
numpy==1.15.2
packaging==18.0
pkginfo==1.4.2
pluggy==0.7.1
py==1.6.0
PyBluez==0.22
pycparser==2.19
Pygments==2.2.0
pylsl==1.12.2
pyparsing==2.2.2
pytest==3.7.4
pytest-mock==1.10.0
pytz==2018.5
PyYAML==3.13
readme-renderer==22.0
requests==2.20.0
requests-toolbelt==0.8.0
serial==0.0.69
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
tqdm==4.26.0
twine==1.12.1
urllib3==1.23
webencodings==0.5.1
